<header>
  <h1 class="logo">Book world</h1>
   <nav class="navbar navbar-expand-lg navbar-light">
     <div class="container-fluid">
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <li class="nav-item">
             <a type="submit" class="nav-link active" aria-current="page" href="/">Home</a>
             <!-- <button class="" type="submit">Home</button> -->
           </li>
           <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="/books"> Books </a>
           </li>
           <li class="nav-item">
            <span class="filter-books nav-link active" type="button">Filter</span>
           </li>

           <% if(user){ %>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/mybooks"> MyBooks </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/mymessages"> MyMessages </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/addbook"> AddBooks </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/favorites"> MyFavorites </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/cart">	 MyCart</a>
              </li>
              <li class="nav-item">
                <form action = "/logout" method= "POST">
                  <button type="submit" class="btn btn-danger">Logout</button>
                </form>
              </li>

              <% } else{ %>
                <li class="nav-item">
                  <a class="nav-link active" type="button" href="/register">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" type="button" href="/login">Log In</a>
                </li>
              <% } %>


         </ul>

       </div>
     </div>
   </nav>
   <div id="search-form">
    <form method="GET" action="/search">
      <input type="min" name="min" placeholder="minprice">
      <input type="max" name="max" placeholder="maxprice">
      <button type="search" value="Search" class="btn btn-outline-danger">Search</button>
    </form>
    </div>
 </header>
