// See: https://sass-lang.com/

body {
  background-color: #eee;

  h1 {
    color: #244751;
    font-family: 'Satisfy', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    letter-spacing: 3px;
  }
}
// Header
.container-fluid {
    border-top: solid brown 0.5px;
    padding-top: 15px;
    border-bottom: solid brown 0.5px;
    padding-bottom: 15px;
}

.head-title {
  margin: 60px 0 60px 0;
  text-align: center;
}
.logo {
  padding: 40px 0;
  text-align: center;
  height: 3em;
}
.navbar {
  font-size: 1.3rem;
  margin-left: 10%;
  width: 80%;

}
.navbar-nav {
  width: 100%;
  justify-content: space-around;
}
//Search-form
#search-form {
  display: none;
  margin: 30px auto;
  text-align: center;
}
//ADD NEW BOOK

.addbook-page {
  text-align: center;
}
.addbook-page h2 {
  margin: 40px 0;
  padding-left: 100px;
}
.addbook-button {
  padding-left: 95px;
}
.addbook-page button {
  width: 200px;
}
.addbook-input {
  margin-bottom: 15px;
}
.addbook-input label {
  width: 100px;
  text-align: left;
}
.addbook-input input {
  width: 350px;
}
//Main section
.main-section {
  width: 80%;
}
.back-block {
  margin-top: 200px;
  left: 10%;
  z-index: 1;
  position: absolute;
  text-align: center;
  width: 80%;
  background-color: #c6a78f;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  height: 650px;
}
.container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 40%;
  height: 100%px;
}
.container :hover {
  background-color: #ecdab9;
}
.book-one img {
  width: 100%;
  max-width: 450px;
  height: 550px;
  padding: 20px 20px;
  //background-color: rgb(109, 114, 116);
}

.book.list {
  height: 650px;
  margin: 40px 40px;
}
.list {
  width: 415px;
  display: flex;
  flex-direction: column;
}
.list:hover {
  background-color: #ecdab9;
}
.book-list {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%px;
}
.book-two img {
  width: 100%;
  max-width: 450px;
  height: 550px;
  padding: 20px 20px;
  //sbackground-color: rgb(109, 114, 116);
}
.filter-box {
  display: flex;
  flex-direction: column;
}
.book-name {
  text-align: center;
  padding: 10px 0;
  font-size: 1.5em;
}
.book-price {
  text-align: center;
  padding: 0 0 20px 0;
  font-size: 1em;
}
.book-author, .book-year {
  text-align: center;
  font-size: 1em;
  margin-bottom: 0;
}
.book-one {
  position: relative;
}
.form-inline {
  position: absolute;
  bottom: 220px;
}
.like {
  position: absolute;
  bottom: 220px;
  right: 30px;
  font-size: 30px;
  color: #c6a78f;
}
.red-like {
  color: #d62929;
}
.message-and-like {
  display: flex;
  margin: 0 20px 20px 20px;
  justify-content: space-between;
}
//SOLD BOK
#sold-delete {
  width: 80%;
  margin: 5% auto;
  position: relative;
}
table thead {
  text-align: center;
}
.sold {
  background-color: #d62929;
  color: #e6dede;
  font-size: 60px;
  padding: 15px 30px;
  font-weight: 600;
  position: absolute;
  z-index: 2;
  top: 80px;
  left: 180px;
}
.disappear {
  display: none;
}
//FOOTER
.footer-basic {
  height: 200px;
  margin-top: 300px;
  padding: 60px 0;
  background-color: #a0b3a8;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #ffff;
  margin-bottom: 0;
}

//Login page
.login-page {
  position: relative;
}
.login-page img {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}

.login {
  position: relative;
  z-index: 2;
  width: 400px;
  height: 400px;
  background-color: #f9f6f3;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  box-shadow: 10px 10px #e6dede;
}
.login h3, .register h3 {
  padding: 40px;
}
.user-data {
  padding-bottom: 20px;
}
.user-data label {
  margin-bottom: 8px;
}
.login button, .register button {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 7px 30px;
}
//Register page
.register {
  width: 500px;
  height: 500px;
  background-color: #f9f6f3;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  box-shadow: 10px 10px #e6dede;
}
@media only screen and (max-width: 992px) {
  .container {
    margin-top: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
  }
  .book {
    width: 70%;
  }
  .bbok-one,
  book-two {
    height: 600px;
  }
  .footer-basic {
    margin-top: 500px;
  }
}
